.expense-list h2 {
  margin-bottom: 20px;
  text-align: center;
}

.expense-container {
  padding: 20px;
  background-color: #f4f4f4;
  width: 100%;
  border-radius: 7px;
  min-height: 500px;
  border: 1px solid #cecece;
}
