body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-title {
  text-align: center;
}

.form-container {
  margin-top: 40px;
  padding: 20px;
}

.container {
  min-height: 95vh;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.align-items {
  width: 100%;
}

.expenseList-container {
  display: flex;
  column-gap: 50px;
}
